<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.ivansiu.music</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1C910833-D1FA-4BD5-B721-C53EE2C43A1B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69760FC5-C1FA-4F8A-99DE-6C27B33CFF03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>294A52DC-6FB9-4549-8665-D58FDE0223F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69101A23-9DB0-4FCE-BF58-F8A359D0C324</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>69101A23-9DB0-4FCE-BF58-F8A359D0C324</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8698553F-60EF-481D-8C83-EE13CDB7AA2C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>69760FC5-C1FA-4F8A-99DE-6C27B33CFF03</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8698553F-60EF-481D-8C83-EE13CDB7AA2C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7996069D-8CE3-4ABF-82B2-CB624C86FB37</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C4848121-85CA-41EE-8668-8FA5A91C3B56</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C4848121-85CA-41EE-8668-8FA5A91C3B56</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8698553F-60EF-481D-8C83-EE13CDB7AA2C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ivan Zigang Xiao</string>
	<key>description</key>
	<string>play/pause/next/prev</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>网易云音乐</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>105</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F13</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7996069D-8CE3-4ABF-82B2-CB624C86FB37</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>source helper.zsh
prev</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C4848121-85CA-41EE-8668-8FA5A91C3B56</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>source helper.zsh
play</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>69101A23-9DB0-4FCE-BF58-F8A359D0C324</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>网易云音乐</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8698553F-60EF-481D-8C83-EE13CDB7AA2C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>107</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F14</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>294A52DC-6FB9-4549-8665-D58FDE0223F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>source helper.zsh
next</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>69760FC5-C1FA-4F8A-99DE-6C27B33CFF03</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>113</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F15</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1C910833-D1FA-4BD5-B721-C53EE2C43A1B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Dependency: chrome-cli</string>
	<key>uidata</key>
	<dict>
		<key>1C910833-D1FA-4BD5-B721-C53EE2C43A1B</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>294A52DC-6FB9-4549-8665-D58FDE0223F3</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>69101A23-9DB0-4FCE-BF58-F8A359D0C324</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>69760FC5-C1FA-4F8A-99DE-6C27B33CFF03</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>7996069D-8CE3-4ABF-82B2-CB624C86FB37</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>8698553F-60EF-481D-8C83-EE13CDB7AA2C</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>C4848121-85CA-41EE-8668-8FA5A91C3B56</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
